
/*Va a definir el estilo de los enlaces (botones) dentro de promociones
*/
.promociones a{
    color: white;
    background-color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 5px;
    display: inline-block;
}
/*Va a modificar lo que pasa cuando el mause se pasa por encima de el enlace (boton)*/
.promociones a:hover{
    background-color: #555;
}
/*modifica que pasa cuando el enc¿lace ya fue visitado*/
.promociones a:visited{
    color: white;
}

/*Se establece la apariencia de el cuerpo de la pagina, colores del fondo, tipografia, ect.*/
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
    color: #333;
}
/*se establece la apariencia de los elementos h1,h2 y h3 de la pagina (margenes,etc.)*/
h1, h2 , h3{
    margin: 0;
    font-weight: bold;
}
/*Se establece la apariencia de los elementos a en la pagina basicamente el estilo de los enlaces*/
a{
    text-decoration: none;
    color: inherit;
}

/*Va a modificar que pasa cuando los enlaces "a" son visitados*/
a:visited{
    color: inherit;
}
/*Define el estilo del encabezado de la vista*/
header{
    background-color: #000;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/*va a definir el estilo de la clase logo*/
.logo{
    font-size: 1.6em;
    font-weight: bold;
}

/*Va a definir el estilo de los enlaces del menu */
nav a{
    margin-left: 20px;
    color: white;
    font-weight: bold;
}

/*Define que pasa cuando se pasa el mause arriba de un enlace "a"*/
nav a:hover{
    color: #ffc300;
}

/*Le da estilo al banner principal de la página*/
.hero{
    background-image: url("imagenes/verdadera.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 120px 20px;
    color: white;
    text-shadow: 2px 2px 5px #000;
}

/*Le da estilo a h1 contenido en el banner*/
.hero h1{
    font-size: 3em;
}
/*Le da estilo a p contenido en el banner*/
.hero p{
    margin-top: 10px;
    font-size: 1.2em;
}
/*Le da estilo al boton contenido en el banner*/
.boton{
    margin-top: 20px;
    display: inline-block;
    padding: 12px 25px;
    background-color: #d60000;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
/*Le da formato a la sección del texto informativo*/
.info{
    padding: 40px 20px;
    text-align: center;
    max-width: 900px;
    margin: auto;
}
/*Le da formato a las p dentro de info*/
.info p{
    font-size: 1.1em;
    margin-top: 10px;
    line-height: 1.6;
}
/*Va a darle formato a la seccion de la clase destacados*/
.destacados{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
    flex-wrap: wrap;
}
/*Va a darle estilo a el bloque de la clase tarjeta contenida en destacados*/
.tarjeta{
    background-color: white;
    width: 260px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}
/*Le da formato a las etiquetas h3 contendidas en el bloque tarjeta*/
.tarjeta h3{
    color: #d60000;
}
/*Le da formato a las etiquetas p contendidas en el bloque tarjeta*/
.tarjeta p{
    margin: 10px 0;
}
/*Le da formato a las etiquetas a contendidas en el bloque tarjeta*/
.tarjeta a{
    display: inline-block;
    margin-top: 10px;
    background-color: #000;
    color: white;
    padding: 10px 18px;
    border-radius: 5px;
    font-weight: bold;
}
/*Modifica que va a pasar cuando el mause este arriba de los enlaces (a) dentro de la tarjeta */
.tarjeta a:hover{
    background-color: #333;
}

/*Le da estilo al pie de pagina*/
footer{
    background-color: yellow;
    color: black;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
    font-size: 0.9em;
}
/*Ajusta el codigo para pantallas más pequeñas*/
@media (max-width:768px){

    header{
        flex-direction: column;
        text-align: center;
    }

    nav{
        margin-top: 10px;
    }
    .hero h1{
        font-size: 2.3em;
    }
    .destacados{
        flex-direction: column;
        align-items: center;
    }
}

